/* Add CSS Styling */
p{
    background-color: rgb(255, 0, 200);
    font-family:Verdana, "Deja Vu Sans", sans-serif;
}

.section#two{
    color: rgb(0, 0, 185);
    font-size: 36px;
}
.section.three{
    font-size: 24px;
}
.section#four{
    background-color: rgb(0, 200, 120);
    font-size: 24px;
    font-weight: bold;
}
